{% extends 'base.html.twig' %}

{% block content %}
<section class="section " id="getting-started">
    <h1>Getting started</h1>
    <p>New to Codex PHP? This documentation will guide you through the installation, configuration, and usage of Codex PHP—a library designed for generating markup for CSS-only components using the Codex design system. Codex PHP provides a PHP-based interface to create UI components, following a builder pattern approach that enables seamless integration within a PHP environment. This section provides all the necessary information to effectively integrate and utilize Codex PHP in your projects.</p>
    <div class="toc">
        <ul class="phpdocumentor-list">
            <li class="toc-item">
                <a href="guide/getting-started/installing.html#installation">Installation</a>
                <ul class="section-level-1">
                    <li class="toc-item">
                        <a href="guide/getting-started/installing.html#requirements">System Requirements</a>
                    </li>
                    <li class="toc-item">
                        <a href="guide/getting-started/installing.html#using-composer">Using Composer</a>
                    </li>
                </ul>
            </li>
            <li class="toc-item">
                <a href="guide/getting-started/usage.html#usage">Usage</a>
                <ul class="section-level-1">
                    <li class="toc-item">
                        <a href="guide/getting-started/usage.html#component-usage">Builder Usage</a>
                        <ul class="section-level-2">
                            <li class="toc-item">
                                <a href="guide/getting-started/usage.html#accordion">Accordion</a>
                            </li>
                            <li class="toc-item">
                                <a href="guide/getting-started/usage.html#button">Button</a>
                            </li>
                            <li class="toc-item">
                                <a href="guide/getting-started/usage.html#card">Card</a>
                            </li>
                            <li class="toc-item">
                                <a href="guide/getting-started/usage.html#checkbox">Checkbox</a>
                            </li>
                            <li class="toc-item">
                                <a href="guide/getting-started/usage.html#field">Field</a>
                            </li>
                            <li class="toc-item">
                                <a href="guide/getting-started/usage.html#info-chip">InfoChip</a>
                            </li>
                            <li class="toc-item">
                                <a href="guide/getting-started/usage.html#label">Label</a>
                            </li>
                            <li class="toc-item">
                                <a href="guide/getting-started/usage.html#message">Message</a>
                            </li>
                            <li class="toc-item">
                                <a href="guide/getting-started/usage.html#progress-bar">ProgressBar</a>
                            </li>
                            <li class="toc-item">
                                <a href="guide/getting-started/usage.html#radio">Radio</a>
                            </li>
                            <li class="toc-item">
                                <a href="guide/getting-started/usage.html#select">Select</a>
                            </li>
                            <li class="toc-item">
                                <a href="guide/getting-started/usage.html#table">Table</a>
                            </li>
                            <li class="toc-item">
                                <a href="guide/getting-started/usage.html#tabs">Tabs</a>
                            </li>
                            <li class="toc-item">
                                <a href="guide/getting-started/usage.html#textarea">TextArea</a>
                            </li>
                            <li class="toc-item">
                                <a href="guide/getting-started/usage.html#textinput">TextInput</a>
                            </li>
                            <li class="toc-item">
                                <a href="guide/getting-started/usage.html#thumbnail">Thumbnail</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</section>
{% endblock %}
