<div class="cdx-info-chip{{#status}} cdx-info-chip--{{ status }}{{/status}}{{#additionalClasses}} {{additionalClasses}}{{/additionalClasses}}"{{#id}} id="{{ id }}"{{/id}}{{#attributes}} {{{ attributes }}}{{/attributes}}>
  {{#icon}}
  <span class="cdx-info-chip--icon {{ icon }}" aria-hidden="true"></span>
  {{/icon}}
  <span class="cdx-info-chip--text">{{ text }}</span>
</div>
