<div class="cdx-info-chip{{#status}} cdx-info-chip--{{ status }}{{/status}}{{#renderClasses}}{{{attributes}}}{{/renderClasses}}"{{#id}} id="{{ id }}"{{/id}}{{#renderAttributes}}{{{attributes}}}{{/renderAttributes}}>
  {{#icon}}
  <span class="cdx-info-chip--icon {{ icon }}" aria-hidden="true"></span>
  {{/icon}}
  <span class="cdx-info-chip--text">{{ text }}</span>
</div>
